@import '../../style/variables';

.catcontainer {
  width: $containerWidth;
  margin: 4em auto 0 auto;
}

.categories {
  background: #eeeeee;
  list-style: none;
  font-size: 80%;
  color: #999;
  margin: 0;
  padding: 1em 0 1.5em 0;
  li {
    display: inline;
    &+li:before {
      padding: .5em;
      content: ">";
    }
    &:last-child {
      font-weight: bold;
    }
  }
  &.size0 {
    display: none;
  }
}
