@import '../../style/variables';

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 3.375em;
	padding: 0;
	background: #FFE600;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.container {
  width: $containerWidth;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;

  .logo {
    background-image: url("/assets/Logo_ML.png");
    background-repeat: no-repeat;
    width: 4.5em;
    height: 2.25em;
    text-indent: -1000px;
    display: block;
    margin-top: 9px;
    float: left;
  }

  .search {
    float: left;
    margin-top: 10px;
    width: 59.2em;
    max-width: calc(100% - 4.5em);
    input {
      width: 100%;
      border: 0;
      padding: .5em;
      border-radius: .25em;
      &:focus {
        box-shadow: none;
      }
    }
    button {
      text-indent: -4000px;
      width: 3em;
      height: 2.3em;
      margin-left: -3em;
      border: 0;
      border-top-right-radius: .25em;
      border-bottom-right-radius: .25em;
      background-image: url("/assets/ic_Search.png");
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      &:hover {
        background-color: #eee;
      }
    }
  }
}

.header h1 {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
}

.header nav {
	float: right;
	font-size: 100%;
}

.header nav a {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(0,0,0,0.4);
}


@media (min-width:1024px) and (-webkit-min-device-pixel-ratio:2),(min-width:1024px) and (min-resolution:192dpi),(min-width:1024px) and (min-resolution:2dppx) {
  .container {
    .logo {
      background-image: url("/assets/Logo_ML@2x.png.png");
      background-size: 53px 36px;
    }
    .search button {
      background-image: url("/assets/ic_Search@2x.png.png");
      background-size: 18px 18px;
    }
  }
}
