@import 'variables';

html, body {
  height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #eeeeee;
	font-family: Helvetica, arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body {
  height: 100%;
	height: calc(100% - 6em);
}

#app {
  min-height: 4em;
  height: 100%;
}

.container {
  width: $containerWidth;
  max-width: 100%;
	height: 100%;
	min-height: 4em;
  margin: 0 auto;
  background: #fff;
  border-radius: .25em;
}

.loading {
  color: transparent;
  background-image: url("/assets/loading.gif");
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  float: right;
  overflow: hidden;
  display: none;
  &.loadtrue {
    display: block;
  }
}

.clear {
  clear: both;
  display: block;
  float: none;
}
