@import '../../style/variables';

.container {
  position: relative;
	padding: 56px 0;
	min-height: 100%;
  width: $containerWidth;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.item {
  background-color: #fff;
  border-radius: .25em;
  min-height: 4em;
  padding: 1.5em;
  display: table;
  .col0, .col1 {
    float: left;
  }
  .col0 {
    width: 43em;
  }
  .col1 {
    width: 18em;
  }
}

.description {
  white-space: pre-wrap;
  color: #999;
}

.shipping {
  background: url('/assets/ic_shipping.png');
  background-size: 18px 18px;
  background-repeat: no-repeat;
  width: 18px;
  padding: 2px 9px;
  display: none;
  margin-left: .5em;
  &.free-ship-true {
    display: inline;
  }
}

.price {
  font-size: 3.2em;
  sup {
    font-size: 50%;
    &.val0 {
      display: none;
    }
  }
}

.condition {
  text-transform: capitalize;
}

.picture {
  width: 620px;
}

.descrTit {
  font-weight: normal;
}

.buyit {
  background: $colBtn;
  color: #eeeeee;
  border: 0;
  cursor: pointer;
  font-size: 1.25em;
  margin-top: 1.5em;
  padding: .4em;
  width: 100%;
  border-radius: .25em;
  &:hover {
    color: #ffffff;
    background: darken($colBtn, 10%);
  }
}
