.itemlist {
  color: #333;
  background-color: #fff;
  border-radius: .25em;
  min-height: 4em;
  padding: 1em;
  .item {
    height: 180px;
    clear: both;
    float: none;
    margin-bottom: 1em;
  }
  hr {
    background: #eee;
    border: 0;
    height: 2px;
    margin: 0 0 1em 0;
  }
}

.thumbnail, .description {
  float: left;
}

.description {
  padding: 1em 0 0 1.5em;
}

.city {
  float: right;
  width: 180px;
  color: #777;
  padding-top: 2em;
  font-size: 80%;
}

.thumbnail {
  width: 180px;
  height: 180px;
  border-radius: .25em;
  overflow: hidden;
}

.price {
  font-size: 1.5em;
  .number {
    float: left;
  }
  sup {
    font-size: 50%;
    &.val0 {
      display: none;
    }
  }
}

.title, .price {
  clear: both;
  float: none;
}

.title {
  padding-top: 1em;
  a {
    color: #333;
    text-decoration: none;
    &:visited {
      color: #333;
    }
    &:hover {
      color: #3483FA;
    }
  }
}

.shipping {
  background: url('/assets/ic_shipping.png');
  background-size: 18px 18px;
  height: 18px;
  width: 18px;
  float: left;
  display: none;
  margin-left: .5em;
  &.free-ship-true {
    display: block;
  }
}
